@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Italiana&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Cormorant', serif;
}

body {
    margin: 0;
    padding-top: 52px;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 4px 16px;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1;
    background-color:rgba(255, 255, 255, 1);
    /* backdrop-filter: blur(5px); */
}

header>a {
    font-family: 'Italiana', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin: 8px;
}

.welcome {
    width: 100%;
    background-color: black;
    min-height: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}

.welcome > h1,
.welcome > h3{
    color: white;
    text-align: center;
    font-weight: 400;
}

.welcome > h1{
    font-size: 60px;
}

.welcome > h3{
    border-top: .5px solid white;
    font-size: 30px;
    padding: 50px 100px;
    margin: 0px calc( (100% - 400px) / 2);
}


section{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}



.title{
    font-family: 'Italiana', sans-serif;
    font-weight: 400;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.title > h1{
    font-weight: inherit;
    font-size: inherit;
    margin: 0 10px;
}

.title > img{
    height: 100px;
    position: relative;
    top: 10px;
}

img.reverse{
    transform: scaleX(-1);
}