@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Italiana&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Cormorant', serif;
}

body {
    margin: 0;
    background-color: #000;
    color:white;
}



div{
    height: 50vh;
    display: flex;
    justify-content: center;
}
.title{
    align-items: flex-end;
}

.title > h1{
    font-weight: inherit;
    font-size: inherit;
    margin: 0 10px;
    font-size: 60px;
}

h2{
    font-weight: 400;
    text-align: center;
}

.title > img{
    height: 100px;
    position: relative;
    top: 20px;
}

img.reverse{
    transform: scaleX(-1);
}

